@import 'reset.css';

:root {
  --dynamic-background-color: hsla(0, 0%, 0%, 0.16);
  --dynamic-background-color-transparent: hsla(0, 0%, 0%, 0.16);
  --dynamic-text-color-transparent: hsla(0, 0%, 100%, 0.16);
  --menu-divider-color: #091e4221;
  --menu-padding-left-right: 12px;
  --background-neutral-hovered: #091e4214;
  --background-light-hovered: #091e420a;
  --background-brand-bold: #0079bf;
  --background-brand-bold-hovered: #026aa7;
  --font-color-default: #172b4d;
  --font-color-subtle: #5e6c84;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-default);
}

body {
  background: rgb(0, 121, 191);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

button svg {
  display: block;
}

.verticalScrollbar::-webkit-scrollbar-track {
  background: #091e4214;
}

.verticalScrollbar::-webkit-scrollbar-thumb {
  background: #091e4223;
}

ul {
  list-style: none;
}
