@import 'reset.css';

:root {
  --dynamic-background-color: hsla(0, 0%, 0%, 0.16);
  --dynamic-background-color-transparent: hsla(0, 0%, 0%, 0.16);
  --dynamic-text-color-transparent: hsla(0, 0%, 100%, 0.16);
  --menu-divider-color: #091e4221;
  --menu-padding-left-right: 12px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #172b4d;
}

body {
  background: rgb(0, 121, 191);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

button svg {
  display: block;
}

.verticalScrollbar::-webkit-scrollbar-track {
  background: #091e4214;
}

.verticalScrollbar::-webkit-scrollbar-thumb {
  background: #091e4223;
}
