.ButtonPrimary,
.ButtonDanger {
  padding: 6px 24px;
  color: #ffffff;
  border-radius: 4px;
}

.ButtonPrimary {
  background: var(--background-brand-bold);
}

.ButtonPrimary:hover {
  background: var(--background-brand-bold-hovered);
}

.ButtonDanger {
  background: var(--background-danger-bold);
}

.ButtonDanger:hover {
  background: var(--background-danger-bold-hovered);
}
