.BoardListCardList {
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px 4px;
  padding: 0px 4px;
}

.BoardListCardList::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.BoardListCardList::-webkit-scrollbar-track {
  background: #091e4214;
  border-radius: 4px;
}

.BoardListCardList::-webkit-scrollbar-thumb {
  background: #091e4223;
  border-radius: 6px;
}
