.BoardList {
  flex: 0 0 272px;
  display: flex;
  flex-direction: column;
  width: 272px;
  max-height: 100%;
  margin: 0 4px;
  background: #ebecf0;
  border-radius: 4px;
}

.dragDropPlaceholder {
  background: var(--dynamic-background-color-transparent);
}

.header {
  flex: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.title {
  padding-left: 12px;
  font-weight: 600;
}

.cardActions {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
}
